@font-face {
	font-family: 'Museo 700';
	src: url('../fonts/Museo 700.woff') format('woff'),
			 url('../fonts/Museo 700.woff2') format('woff2');
	font-style: normal;		
	font-weight: normal; 
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans.woff') format('woff'),
			 url('../fonts/OpenSans.woff2') format('woff2');
	font-style: normal;
	font-weight: normal;		 
}

@font-face {
	font-family: 'SignikaNegative';
	src: url(../fonts/SignikaNegative.woff) format('woff'),
			 url(../fonts/SignikaNegative.woff2) format('woff2');
	font-style: normal;
	font-weight: normal;		 
}

@font-face {
	font-family: 'OpenSans-Bold';
	src: url('../fonts/OpenSans-Bold.woff') format('woff'),
	     url('../fonts/OpenSans-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: bold;
}

@font-face {
	font-family: 'OpenSansSemibold';
	src: url('../fonts/OpenSansSemibold.woff') format('woff'),
	     url('../fonts/OpenSansSemibold.woff2') format('woff2');
	font-style: normal;
	font-weight: 600;     
}

@font-face {
	font-family: 'SignikaNegative-Semibold';
	src: url('../fonts/SignikaNegative-Semibold.woff') format('woff'),
	     url('../fonts/SignikaNegative-Semibold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family:'TektonPro-BoldCond';
	src: url('../fonts/TektonPro-BoldCond.woff') format('woff'),
			 url('../fonts/TektonPro-BoldCond.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;		 
}

body {
	background-color: #ffffff;
}

header {
	width: 960px;
	height: 104px;
	margin: 0 auto;
}

.logo {
	margin-top: 66px;
}

.top_menu {
	display: block;
	float: right;
}
.top_menu ul {
	list-style: none;
	display: flex;
	padding-top: 70px;
}

.top_menu a {
	text-decoration: none;
	padding-right: 25px;
	padding-left: 25px;
	display: block;
	font-family: 'SignikaNegative', sans-serif;
	font-size: 13px;
	color: #003764;
}

.top_menu a:hover {
	border-top: 12px solid #0e57a1;
	padding-top: 58px;
	color: #0e57a1;
}

.banner {
	width: 100%;
	height: 562px;
	background: rgba(7,68,129,1);
	background: linear-gradient(to right, rgba(7,68,129,1) 0%, 
		          rgba(7,68,129,1) 16%, rgba(7,68,129,1) 27%, 
		          rgba(245,254,255,1) 50%, 
		          rgba(7,68,129,1) 78%, 
		          rgba(7,68,129,1) 88%, 
		          rgba(7,68,129,1) 100%);
}