@font-face {
	font-family: 'Museo 700';
	src: url('../fonts/Museo 700.woff') format('woff'),
			 url('../fonts/Museo 700.woff2') format('woff2');
	font-style: normal;		
	font-weight: normal; 
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans.woff') format('woff'),
			 url('../fonts/OpenSans.woff2') format('woff2');
	font-style: normal;
	font-weight: normal;		 
}

@font-face {
	font-family: 'SignikaNegative';
	src: url(../fonts/SignikaNegative.woff) format('woff'),
			 url(../fonts/SignikaNegative.woff2) format('woff2');
	font-style: normal;
	font-weight: normal;		 
}

@font-face {
	font-family: 'OpenSans-Bold';
	src: url('../fonts/OpenSans-Bold.woff') format('woff'),
	     url('../fonts/OpenSans-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: bold;
}

@font-face {
	font-family: 'OpenSansSemibold';
	src: url('../fonts/OpenSansSemibold.woff') format('woff'),
	     url('../fonts/OpenSansSemibold.woff2') format('woff2');
	font-style: normal;
	font-weight: 600;     
}

@font-face {
	font-family: 'SignikaNegative-Semibold';
	src: url('../fonts/SignikaNegative-Semibold.woff') format('woff'),
	     url('../fonts/SignikaNegative-Semibold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family:'TektonPro-BoldCond';
	src: url('../fonts/TektonPro-BoldCond.woff') format('woff'),
			 url('../fonts/TektonPro-BoldCond.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;		 
}

body {
	background-color: #ffffff;
	margin: 0;
}

header {
	width: 960px;
	margin: 0 auto;
}

.logo {
	display: inline-block;
	width: 18%;
	padding-top: 50px;
	padding-bottom: 20px;
}

.top_mnu {
	display: inline-block;
	vertical-align: top;
	margin-left: 110px;
}

.top_mnu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.top_mnu ul li {
	display: inline-block;
}

.top_mnu ul li a {
	color: #003764;
	display: block;
	font-family: "SignikaNegative", sans-serif;
	font-size: 13px;
	padding-top: 40px;
	padding-left: 25px;
	padding-right: 25px;
	margin-right: 20px;
	text-decoration: none;
}

.top_mnu ul li .active {
	border-top: 10px solid #0e57a1;
	color: #0e57a1;
}

.banner {
	width: 100%;
	background: rgba(7,68,129,1);
	background: linear-gradient(to right, rgba(7,68,129,1) 0%, 
		          rgba(7,68,129,1) 16%, rgba(7,68,129,1) 27%, 
		          rgba(245,254,255,1) 50%, 
		          rgba(7,68,129,1) 78%, 
		          rgba(7,68,129,1) 88%, 
		          rgba(7,68,129,1) 100%);
	margin-top: 0;
}

.banner section {
	width: 960px;
	margin: 0 auto;
	background-color: rgba(63, 191, 131, 0.2);
}

.nav_mnu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav_mnu ul li {
	display: inline-block;
}

.nav_mnu ul li a {
	display: block;
	padding-top: 20px;
	padding-bottom: 15px;
	text-align: center;
	vertical-align: center;
	width: 50px;
	margin-right: 1px;
	background-color: rgba(255, 255, 255, 0.1);
}

